h1{
    color: #FACE2A;
    margin-bottom: 10px;
}
h4{
    color:#FACE2A;
}
.table{
    color:white;
}
.descripcion{
    color:white;
    font-size: 20px;
    margin-bottom: 30px;
}

.table thead th{
    border-bottom:2px solid #FACE2A ;
      }
.table th, .table td{
        border-top: 1px solid #FACE2A;
}
.row{
    margin-top: 30px;
}
